<h1 class="font-weight-bold"> Bienvenido a FoodTrucks </h1>

<p>EN ESTA PAGINA TENEMOS QUE PONER LOS MEJORES FOODTRUCKS.</p>

<div class="container">
    <div class="row">
        <app-foodtruck-thumb></app-foodtruck-thumb>
        <app-foodtruck-thumb></app-foodtruck-thumb>
        <app-foodtruck-thumb></app-foodtruck-thumb>
        <app-foodtruck-thumb></app-foodtruck-thumb>
        <app-foodtruck-thumb></app-foodtruck-thumb>
        <app-foodtruck-thumb></app-foodtruck-thumb>
        <app-foodtruck-thumb></app-foodtruck-thumb>
        <app-foodtruck-thumb></app-foodtruck-thumb>
    </div>
</div>