<p>new-foodtruck works!</p>

<form [formGroup] = "nuevoFoodtruckForm" (ngSubmit)="postFoodtruckForm(nuevoFoodtruckForm.value)">

    <div> Nombre: </div>
    <div><input type='text' name='nombre' formControlName="nombre"> </div> 
    
    <div> Pagina Web: </div> 
    <div> <input type='text' name='url' formControlName="url"> </div>

    <div> WhatsApp: </div> 
    <div> <input type='number' name='whatsapp' formControlName="whatsapp"> </div>	
 
    <div> Twitter: </div> 
    <div> <input type='text' name='twitter' formControlName="twitter"> </div>	

    <div> Instagram: </div> 
    <div> <input type='text' name='instagram' formControlName="instagram"> </div>
    
    <div> Descripcion: </div> 
    <div> <textarea rows="4" cols="50" name="Descripcion" formControlName="descripcion" > </textarea> </div>   

    <input type='submit' value='Crear'>
     
</form>