<h1>Registrar FoodTruck</h1>

<div class="formulario_div">
    <br>

    <form [formGroup] = "nuevoFoodtruckForm" (ngSubmit)="postFoodtruckForm(nuevoFoodtruckForm.value)">
        <div><p class="h6"> Nombre </p> </div>
        <div><input type='text' class="form-control" name='nombre' placeholder="Ingrese su nombre" formControlName="nombre"> </div> 
        <br>

        <div> <p class="h6"> Pagina web </p> </div>
        <div> <input type='text' class="form-control" placeholder="Ingrese el link de su sitio web" name='url' formControlName="url"> </div>
        <br>

        <div> <p class="h6"> WhatsApp </p> </div> 
        <div> <input type='number' name='whatsapp' class="form-control" placeholder="Ingrese su numero de WhatsApp" formControlName="whatsapp"> </div>	
        <br>

        <div> <p class="h6"> Twitter </p> </div>
        <div> <input type='text' name='twitter' class="form-control" placeholder="Ingrese su usuario de Twitter"  formControlName="twitter"> </div>	
        <br>

        <div> <p class="h6"> Instagram </p> </div>
        <div> <input type='text' name='instagram' class="form-control" placeholder="Ingrese su usuario de Instagram" formControlName="instagram"> </div>
        <br>

        <div> <p class="h6"> Descripcion </p> </div>
        <div> <textarea rows="4" cols="50" name="Descripcion"  class="form-control" placeholder="Ingrese una breve descripcion acerca de su foodtruck" formControlName="descripcion" > </textarea> </div>   
        <br>

        <div> <p class="h6"> Servicios </p> </div>
        <div *ngFor="let servicio of listaServicios">
            <input type="checkbox" class="form-check-input"id= {{servicio.nombre}} name= "tipoDeServicio" value= {{servicio.id}} [formControlName]="servicio.nombre" >
            <label class="form-check-label" for="tipoDeServicio"> {{servicio.nombre}} </label><br>
        </div>
        <br>

        <!-- <div ><p class="h6"> Imagen </p> </div>
        <div class="image-upload-container btn btn-bwm">
            <input #imageInput type="file" accept="image/*" >
        </div>
        <br> -->

        <div> <input class='btn btn-dark' type='submit' value='Crear'> </div>
        <br> 

    </form>
</div>