<h1>Registrar Usuario</h1>
<form [formGroup] = "nuevoForm" (ngSubmit)="postForm(nuevoForm.value)"> 
    <p> Nombre: <input type='text' name='nombre' formControlName="nombre"> </p> 
    <p> Apellido: <input type='text' name='apellido' formControlName="apellido"> </p> 
    <p> Username: <input type='text' name='username' formControlName="username"> </p> 
    <p> Password: <input type='password' name='password' formControlName="password"> </p>	
    
    <p> <input type='checkbox' name='foodtrucker' value='foodtrucker' formControlName="foodtrucker"> FoodTrucker </p>
    <p> <input type='checkbox' name='organizador' value='organizador' formControlName="organizador"> Organizador </p>
    
    <input type='submit' value='Crear'> 
</form>