<h1>Editar Perfil</h1>

<div class="formulario_div">
        
    <form [formGroup] = "nuevoForm" (ngSubmit)="postForm(nuevoForm.value)">
        
        <br>
        <div> <p class="h6"> Nombre </p> </div>
        <div> <input class="form-control" type='text' name='nombre' formControlName="nombre"> </div>
        
        <br>
        <div> <p class="h6"> Apellido </p> </div>
        <div> <input class="form-control" type='text' name='apellido' formControlName="apellido"> </div> 
        
        <br>
        <div> <p class="h6"> Nombre de Usuario </p> </div>
        <div> <input class="form-control" type='text' name='username' formControlName="username"> </div> 
       
        <br>
        <div> <p class="h6"> Contraseña </p> </div>
        <div> <input class="form-control" type='password' name='password' formControlName="password"> </div>	
         
        <br>
        <div> <p class="h6"> Tipo de Usuario </p> </div>
        <input type="radio" id="radiofoodtrucker" name="tipocuenta" value="foodtrucker" formControlName="tipocuenta">
        <label for="radiofoodtrucker">FoodTrucker</label><br>
        <input type="radio" id="radioorganizador" name="tipocuenta" value="organizador" formControlName="tipocuenta">
        <label for="radioorganizador">Organizador</label><br>
        
        <div *ngIf="nuevoForm.controls['tipocuenta'].value == 'foodtrucker'" >
            <br>
            <div> <p class="h6"> Zona </p> </div>  
            <div *ngFor="let z of zonas">
                <input class="form-radio-input" type="radio" id={{z.nombre}} name="zona" value={{z.id}} formControlName="zona" >
                <label class="form-radio-input" for="zona"> {{z.nombre}} </label><br>
            </div>
        </div>

        <br>
        <input type='submit' class='btn btn-dark' value='Crear'> 
        <br> <br>

    </form>
</div>
